---
import Card from "../components/Card.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Om os</title>
	</head>
	<body>
		<h1>
Hvem er vi i Creative Escape?</h1>

<section>
<Card img="/imgs/some-logo.webp" text="Suspendisse porta ullamcorper urna, eu pulvinar sem lobortis non. Mauris pharetra, tellus sed pretium auctor, erat lectus sollicitudin velit, eget elementum felis ante a dolor. Cras enim purus, ultrices vitae convallis et, feugiat eu mauris. "/>
<Card img="/imgs/kort-logo.webp" text="Suspendisse porta ullamcorper urna, eu pulvinar sem lobortis non. Mauris pharetra, tellus sed pretium auctor, erat lectus sollicitudin velit, eget elementum felis ante a dolor. Cras enim purus, ultrices vitae convallis et, feugiat eu mauris. "/>
<Card img="/imgs/streetart-logo.webp" text="Suspendisse porta ullamcorper urna, eu pulvinar sem lobortis non. Mauris pharetra, tellus sed pretium auctor, erat lectus sollicitudin velit, eget elementum felis ante a dolor. Cras enim purus, ultrices vitae convallis et, feugiat eu mauris. "/>
<Card img="/imgs/vintage-logo.webp" text="Suspendisse porta ullamcorper urna, eu pulvinar sem lobortis non. Mauris pharetra, tellus sed pretium auctor, erat lectus sollicitudin velit, eget elementum felis ante a dolor. Cras enim purus, ultrices vitae convallis et, feugiat eu mauris. "/>
<Card img="/imgs/spis-logo.webp" text="Suspendisse porta ullamcorper urna, eu pulvinar sem lobortis non. Mauris pharetra, tellus sed pretium auctor, erat lectus sollicitudin velit, eget elementum felis ante a dolor. Cras enim purus, ultrices vitae convallis et, feugiat eu mauris. "/>
</section>


	</body>
</html>
