---
const img = Astro.props.img;
const text = Astro.props.text;
---



<article>
		<img src={img}/>
		<p>{text}</p>
	</article>


		<article>
		<img src="/imgs/kort-logo.webp" />
		<p>Suspendisse porta ullamcorper urna, eu pulvinar sem lobortis non. Mauris pharetra, tellus sed pretium auctor, erat lectus sollicitudin velit, eget elementum felis ante a dolor. Cras enim purus, ultrices vitae convallis et, feugiat eu mauris. 
		</p>
	</article>
		<article>
		<img src="/imgs/streetart-logo.webp" />
		<p>Suspendisse porta ullamcorper urna, eu pulvinar sem lobortis non. Mauris pharetra, tellus sed pretium auctor, erat lectus sollicitudin velit, eget elementum felis ante a dolor. Cras enim purus, ultrices vitae convallis et, feugiat eu mauris. 
		</p>
	</article>
		<article>
		<img src="/imgs/vintage-logo.webp" />
		<p>Suspendisse porta ullamcorper urna, eu pulvinar sem lobortis non. Mauris pharetra, tellus sed pretium auctor, erat lectus sollicitudin velit, eget elementum felis ante a dolor. Cras enim purus, ultrices vitae convallis et, feugiat eu mauris. 
		</p>
	</article>
		<article>
		<img src="/imgs/spis-logo.webp" />
		<p>Suspendisse porta ullamcorper urna, eu pulvinar sem lobortis non. Mauris pharetra, tellus sed pretium auctor, erat lectus sollicitudin velit, eget elementum felis ante a dolor. Cras enim purus, ultrices vitae convallis et, feugiat eu mauris. 
		</p>
	</article>